.filter {
    width: 23%;
    border: 1px solid #ccc;
    right: 0;
    margin-right: 1%;
    text-transform: capitalize;
    position: fixed;

}

.filter h2{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 5px 15px;
    margin-bottom: 12px;
    border-bottom: none;
    background: #79aec8;
    color: #fff;
    margin-top: 0;
}
.filter h3 {
    font-weight: 400;
    font-size: 14px;
    padding: 0 15px;
    margin-bottom: 10px;

}
.filter ul {
    margin: 5px 0;
    padding: 0 15px 15px;
    border-bottom: 1px solid #eaeaea;
}
.filter li {
    list-style-type: none;
    margin: 5px 0 0 0;
    padding-left: 0;

}
.filter li.selected {
    border-left: 5px solid #989898;
    /*background-color: #989898;*/
    /*color: #fff;*/
    padding-left: 10px;
    margin-left: -15px;

}
.filter a {
    display: block;
    color: #999;
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-decoration: none;
}
a:hover, .filter li.selected a:focus, .filter li.selected a:hover {
    color: #036;
}