{% extends 'base_generic.html' %}
{% load static %}
{% load villager_custom_template_tag %}
{% block content %}
    <link href="{% static 'villagers/css/option.css' %}" rel="stylesheet">

    <div class="option">
        <div id="search">
            <h2>Search</h2>
            <h3>Name: <input type="text" id="name_search" placeholder="enter name to search..."></h3>
        </div>
        <div id="filter">
            <div id="filter_bari">
                <h2>Filter</h2>
                <h3> By Color </h3>
                    <ul>
                        <li><a href="#">red</a></li>
                        <li><a href="#">yellow</a></li>
                        <li><a href="#">blue</a></li>
                    </ul>
            </div>
            <div id="filter_lives_in_village">
            <h3> By size </h3>
                <ul>
                    <li><a href="#">medium</a></li>
                    <li><a href="#">large</a></li>
                    <li><a href="#">small</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

