{% extends 'base_generic.html' %}
{% load static %}
{% block title %} Detail Information {% endblock %}
{% block content %}

    <link href="{% static 'villagers/css/villager_details.css' %}" rel="stylesheet">

    <table>
        <caption >Detail Information</caption>
{#        <thead>#}
{#            <tr>#}
{#                <th scope="col">Key</th>#}
{#                <th scope="col">Data</th>#}
{#            </tr>#}
{#        </thead>#}
        <tbody>
            <tr>
                <th>name</th>
                <td data-label="NAME">
                    <a href="{{ villager.get_absolute_url }}" >{{ villager.name }} </a>
                </td>
            </tr>
            <tr>
                <th>Father name</th>
                <td data-label="FATHER name">
                    {% if villager.father %}
                        <a href="{{ villager.father.get_absolute_url }}" >{{ villager.father }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>mother name</th>
                <td data-label="FATHER name">
                    {% if villager.mother %}
                        <a href="{{ villager.mother.get_absolute_url }}" >{{ villager.mother }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>grand Father name</th>
                <td data-label="grand FATHER name">
                    {% if villager.grand_father %}
                        <a href="{{ villager.grand_father.get_absolute_url }}" >{{ villager.grand_father }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>grand mother name</th>
                <td data-label="grand FATHER name">
                    {% if villager.grand_mother %}
                        <a href="{{ villager.grand_mother.get_absolute_url }}" >{{ villager.grand_mother }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>

            {% if children %}
                {% for child in children %}
                    {% if forloop.first %}
                        <tr>
                            <th rowspan="{{ children | length }}">Children</th>
                            <td data-label="Children">
                                <a href="{{ child.get_absolute_url }}">{{ child.name }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td data-label="Children">
                                <a href="{{ child.get_absolute_url }}">{{ child.name }}</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}

            {% endif %}

            <tr>
                <th>bari</th>
                <td data-label="bari">
                    {% if villager.bari %}
                       {{ villager.bari }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            {% if villager.highest_education %}
            <tr>
                <th>highest education</th>
                <td data-label="highes education">
                       {{ villager.highest_education }}
                </td>
            </tr>
            {% endif %}
            {% if villager.highest_education_institute %}
            <tr>
                <th>highest education institute</th>
                <td data-label="highes education institute">
                       {{ villager.highest_education_institute }}
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>occupation</th>
                <td data-label="occupation">
                    {% if villager.occupation %}
                       {{ villager.occupation }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>marital status</th>
                <td data-label="marital_status">
                    {{ villager.marital_status }}
                </td>
            </tr>
            {% if villager.spouse %}
            <tr>
                <th>Spouse</th>
                <td data-label="highes education">
                    <a href="{{ villager.spouse.get_absolute_url }}">{{ villager.spouse }}</a>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>Lives in Village</th>
                <td data-level="lives in village">
                    {{ villager.lives_in_village }}
                </td>
            </tr>
            <tr>
                <th>Alive</th>
                <td data-level="Alive">
                     {{ villager.alive }}
                </td>
            </tr>
        </tbody>
    </table>

    {% if request.user.is_authenticated %}
        <button onclick="window.location.href = '{% url 'villager-edit' villager.id %}'" >Edit</button>
    {% endif %}


{% endblock %}