{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Villagers' List</title>
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >#}
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css" />
    <link href="{% static 'villagers/css/header.css' %}" rel="stylesheet">

</head>
<body>
    <header class="header">
        <a href="/" class="logo">Villagers</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}?next={{ request.get_full_path }}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}?next={{ request.get_full_path }}">Login</a></li>
            {% endif %}

        </ul>
    </header>
    q
    <div style="margin-top:50px;">
        {% block content %}{% endblock %}
    </div>
</body>
</html>