{% load static %}
{% load villager_custom_template_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Villagers' List</title>
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css" />
    <link href="{% static 'villagers/css/header.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <header class="header">
        <a href="/" class="logo">Villagers</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            {% if request.user.is_authenticated %}
{#                <li><a href="{% url 'logout' %}?next={{ request.get_full_path }}">Logout</a></li>#}
                <li><a href="{% url 'villager-create' %}">Add Villager</a> </li>
                <li><a href="{% url 'bari-create' %}">Add Bari</a> </li>
                <li><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>

            {% else %}
                <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
{#                {% if request.GET %}#}
{#                    <li><a href="{% url 'login' %}">Login</a></li>#}
{##}
{#                    <li><a href="{% url 'login' %}?next=/?{% prepare_login_url  %}" >Login</a></li>#}
{#                    <li><a href="{% url 'login' %}?next={{ request.GET.urlencode }}">Login</a></li>#}
{#                {% else %}#}
{#                    <li><a href="{% url 'login' %}" >Login</a></li>#}
{#                {% endif %}#}
            {% endif %}

        </ul>
    </header>
    <div style="margin-top: 65px;">
        {% block content %}{% endblock %}
    </div>



</body>
</html>